{% extends 'layout/app.twig' %}
{% block title %} Create Appliance{% endblock %}
{% block body %}
<div class="container">

            <form method="POST" autocomplete="off" action="{{ url_for('appliances.store') }}">
                {% include 'res/appliance/form.twig' %}
            </form>
</div>
    <div class="container-fluid">
        <a class="btn btn-primary" href="{{ url_for('appliances.index') }}">Back</a>

    </div>
{% endblock %}