{% extends 'layout/app.twig' %}
{% block title %}Edit Appliance{% endblock %}
{% block body %}
    <div class="container">

        <form method="POST" autocomplete="off" action="{{ url_for('appliances.update', {'id':appliance.id}) }}">
            {% include 'res/appliance/form.twig' %}
            <input type="hidden" value="PUT" name="_METHOD">
        </form>
    </div>
    <div class="container-fluid">
        <a class="btn btn-primary" href="{{ url_for('appliances.index') }}">Back</a>

    </div>
{% endblock %}