    <div class="row">
        <div class="col-6">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" name="name" value="{{ appliance.name }}" type="text">
        </div>
        <div class="col-6">
            <label class="form-label" for="url">URL</label>
            <input class="form-control" id="url" name="url" value="{{ appliance.url }}" type="url">
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-3">
            <button type="submit" class="btn btn-success">submit </button>
        </div>
        <div class="col-3">
            <label class="form-check-label" for="disabled">Disabled</label>
            <div class="form-check form-switch">
                <input id="disabled" value="0" name="disabled" type="hidden" >
                <input class="form-check-input" id="disabled" value="1" name="disabled" type="checkbox" {{ appliance.disabled ? 'checked' : '' }}>
            </div>
        </div>
    </div>


