
<table class="table">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Disabled</th>
        <th>options</th>
    </tr>
    </thead>
    <tbody>
    {% for group in appliance.groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name}}</td>
            <td>{{ group.disabled }}</td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('users.edit',{'id':group.id}) }}">Edit</a>
                {% include 'inc/buttons/delete.twig'  with {'delete_url': url_for('appliances.removeGroup', {'id': appliance.id, 'groupId':group.id}), 'delete_name' : group.name} %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>





