{% extends 'layout/app.twig' %}
{% block title %} Appliances Index{% endblock %}

{% block body %}
        <H1>Appliances</H1>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Disabled</th>
                <td>options</td>
            </tr>
            </thead>
            {% for appliance in appliances %}
                <tr>
                    <td><a class="btn btn-outline-secondary" href="{{ url_for('appliances.show',{'id':appliance.id}) }}">Show</a></td>
                    <td>{{ appliance.name}}</td>
                    <td>{{ appliance.url }}</td>
                    <td><input class="form-check-input" type="checkbox" disabled {{ appliance.disabled ? 'checked' : '' }}></td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                {% include '/inc/buttons/edit.twig' with {'button': {'url':url_for('appliances.edit',{'id':appliance.id}), 'label':'Edit'}} %}
                            </div>
                            <div class="col-3">
                                {% include 'inc/buttons/delete.twig'  with {'delete_url': url_for('appliances.delete', {'id': appliance.id}), 'delete_name' : appliance.name} %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
       {% include '/inc/buttons/new.twig' with {'button': {'url':url_for('appliances.create'), 'label':'New'}} %}

{% endblock %}