{% extends 'layout/app.twig' %}
{% block body %}
    <H1>Appliances</H1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Disabled</th>
            <td>options</td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ appliance.id }}</td>
                <td>{{ appliance.name}}</td>
                <td>{{ appliance.url }}</td>
                <td><input class="form-check-input" type="checkbox" disabled {{ appliance.disabled ? 'checked' : '' }}></td>
                <td>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary" href="{{ url_for('appliances.edit', {'id':appliance.id}) }}">Edit</a>
                            {% include 'inc/buttons/delete.twig'  with {'delete_url': url_for('appliances.delete', {'id': appliance.id}), 'delete_name' : appliance.name} %}
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
        <h2 class="mt-2">Groups</h2>
        <div class="row mt-2">

            <div class="col-6 mt-5">
                <form action="{{ url_for('appliances.addGroup', {'id':appliance.id}) }}" method="POST">
                <div class="input-group">
                    <label class="input-group-text" for="addGroup">Group</label>
                    <select class="form-select" name="groupId" id="addGroup">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-secondary" type="submit">Add</button>
                </div>
                </form>
            </div>
            <div class="col-6">
                {% include 'res/appliance/group.twig' %}
            </div>
            
        </div>

    <a class="btn btn-secondary" href="{{ url_for('appliances.index') }}">back</a>

{% endblock %}