<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>
    {% block head %}
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block extendHead %}

    {% endblock %}

</head>
<body>
{% include 'inc/nav.twig' %}
<div class="container" id="main-container">
    <div class="card bg-light">
        <div class="card-body">
            {% include 'inc/messenger.twig' %}

            {% block body %}
                <div class="container m-5">
                    Layout Body
                </div>
            {% endblock %}
        </div>
        {% include 'inc/pagination/core.twig' %}
    </div>
</div>
{% block footer %}
    {% include 'inc/footer.twig' %}
{% endblock %}


{% block script %}
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>