{% extends 'layout/app.twig' %}
{% block title %} Create Role{% endblock %}
{% block body %}
        <H1>Create Role</H1>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Options</th>
            </tr>
            </thead>
            <tr>
                <form method="POST" autocomplete="off">
                    <td><label>
                            <input class="form-control" name='name' placeholder="Name" autocomplete="off">
                        </label></td>
                    <td><label>
                            <input class="form-control" name="power" type="number" autocomplete="off">
                        </label></td>
                    <td>
                        <button type="submit" class="btn btn-success" formaction="{{ url_for('roles.store')}}">Create</button>                  </td>
                </form>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{ url_for('roles.index') }}">Back</a>


{% endblock %}