{% extends 'layout/app.twig' %}
{% block title %} Roles Index{% endblock %}

{% block body %}

        <H1>Roles</H1>



        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Options</th>
            </tr>
            </thead>
            {% for role in roles %}
                <tr>
                    <td><a class="text-decoration-none" href="{{ url_for('roles.show',{'id':role.id}) }}">{{ role.name }}</a></td>
                    <td>{{ role.power }}</td>
                    <td>

                        <form action="{{ url_for('roles.delete',{'id':role.id}) }}" method="POST">
                            <a class="btn btn-primary" href="{{ url_for('roles.edit',{'id':role.id}) }}">Edit</a>
                            <button type="submit" class="btn btn-danger">X</button>
                            <input type="hidden" name="_METHOD" value="DELETE">
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
        <a class="btn btn-secondary" href="{{ url_for('roles.create') }}">New</a>





{% endblock %}