{% extends 'layout/app.twig' %}
{% block title %} Example index{% endblock %}

{% block body %}

        <H1>Role {{ role.name }}</H1>



        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Updated</th>
                <th>Created</th>
                <th>Options</th>
            </tr>
            </thead>
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.power }}</td>
                <td>{{ role.updated_at }}</td>
                <td>{{ role.created_at }}</td>
                <td>
                    <form action="{{ url_for('roles.delete',{'id':role.id}) }}" method="POST">
                        <a class="btn btn-primary" href="{{ url_for('roles.edit',{'id':role.id}) }}">Edit</a>
                        <button type="submit" class="btn btn-danger">X</button>
                        <input type="hidden" name="_METHOD" value="DELETE">
                    </form>
                </td>
            </tr>
        </table>
        {% if role.users %}
            <table class="table">
                <thead>
                    <th>User</th>
                    <th>ID</th>
                    <th>Password</th>
                </thead>
                {% for user in role.users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ isAuth() ? user.password : '***'}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <a class="btn btn-secondary" href="{{ url_for('roles.index') }}">Back</a>




{% endblock %}