{% if isPaginated() %}
    {% set maxPages = getMaxPages() %}
    {% set currentPage = getCurrentPage() %}
    <div class="card-footer">
        <nav aria-label="Pages">
            <ul class="pagination m-0">
                <li class="page-item">
                    <a class="page-link" href="{{ getPageUrl(1) }}" aria-label="Next">
                        <span aria-hidden="true">{{ 1 }}</span>
                    </a>
                </li>
                <li class="page-item {{ currentPage == 1 ? 'disabled' : '' }}">
                    <a class="page-link" href="{{ getPageUrl(currentPage - 1) }}" aria-label="Previous">
                        <span aria-hidden="true">&lang;</span>
                    </a>
                </li>
                {% if currentPage == maxPages %}
                    {% if maxPages > 2 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ getPageUrl(currentPage - 2) }}">{{ currentPage - 2}}</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if currentPage > 1 %}
                    <li class="page-item" >
                        <a class="page-link" href="{{ getPageUrl(currentPage - 1) }}">{{ currentPage - 1}}</a>
                    </li>
                {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="{{ getPageUrl(currentPage) }}">{{ currentPage }}</a>
                    </li>

                {% if currentPage < maxPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ getPageUrl(currentPage + 1) }}">{{ currentPage + 1 }}</a>
                    </li>
                {% endif %}

                {% if currentPage == 1 %}
                    {% if maxPages > 2 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ getPageUrl(currentPage + 2) }}">{{ currentPage + 2}}</a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="page-item {{ currentPage >= maxPages ? 'disabled' : '' }}">
                    <a class="page-link " href="{{ getPageUrl(currentPage + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&rang;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ getPageUrl(maxPages) }}" aria-label="Next">
                        <span aria-hidden="true">{{ maxPages }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>



{% endif %}