{% extends 'layout/app.twig' %}
{% block extendHead %}
    <script src="https://unpkg.com/vue@next"></script>
{% endblock %}
{% block body %}
<h1>Groups</h1>
    <table class="invisible" id="v-for-object" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Disabled</th>
        </tr>
        </thead>
        <tbody>
            <tr  v-for="group in groups">
                <td>{{ '{{ group.id }}' }}</td>
                <td>{{ '{{ group.name }}' }}</td>
                <td>{{ '{{ group.disabled }}' }}</td>

            </tr>
        </tbody>
    </table>

    <div id="app">
    </div>
<script>
// Simple GET request using fetch
    var json
    const data = new XMLHttpRequest();
    data.open("GET","{{ url_for('v1.groups.index') }}", true)
    data.onload = function () {
        try {
            json = JSON.parse(data.responseText)
            document.getElementById('v-for-object').setAttribute('class', 'table thead-light')
            Vue.createApp({
                data() {
                    return {
                        groups: json
                    }
                }
            }).mount('#v-for-object')
            data.abort()

        } catch (e) {
            console.log(e)
        }
    }
    data.send()


</script>


{% endblock %}
