{% extends 'layout/app.twig' %}

{% block body %}
    <div class="container col-sm-4 my-5">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form class="form-text text-center" method="POST" action="{{ url_for('auth.login') }}">
                    <input class="form-control mb-2 text-center" type="text" name="name" placeholder="Name" aria-label="Name">
                    <input class="form-control mb-2 text-center" type="password" name="password" placeholder="Password" aria-label="Password">
                    <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}