{% extends 'layout/app.twig' %}
{% block title %}Dashboard {% endblock %}
{% block body %}
        <div class="card">
            <div class="card-header">
                Dashboard
            </div>
            <div class="card-body" style="position: relative;">
                <div class="">
                    <a class="btn btn-danger" href="{{ url_for('auth.localRebuild') }}">Rebuild Database</a>
                    <a class="btn btn-danger" href="{{ url_for('auth.remoteRebuild') }}">Rebuild Remote Database</a>
                    <a class="btn btn-danger" href="{{ url_for('dash.database') }}">Database Dash</a>

                </div>

                <div class="mt-2">
                     <a class="btn btn-info" data-bs-toggle="collapse" href="#userLogs"
                        role="button" aria-expanded="false" aria-controls="userLogs">Show User Logs</a>
                    <div class="collapse multi-collapse" id="userLogs">
                      <div class="card card-body m-2">
                        <iframe src="{{ url_for('log.userLog') }}"></iframe>
                      </div>
                    </div>
                </div>
                <div class="mt-2">
                    <a class="btn btn-info" data-bs-toggle="collapse" href="#errorLogs"
                       role="button" aria-expanded="false" aria-controls="errorLogs">Show Error Logs</a>
                    <div class="collapse multi-collapse" id="errorLogs">
                        <div class="card card-body m-2">
                            <iframe src="{{ url_for('log.errorLog') }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}