{% set modalId = makeId() %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ modalId }}">X</button>
<form action="{{ delete_url }}" method="POST">
    <div class="modal fade" id="{{ modalId }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete {{ delete_name }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {{ method('DELETE') }}
</form>