{% extends 'layout/app.twig' %}
{% block title %} Create User{% endblock %}

{% block body %}
        <H1>Create User</H1>
        <form method="POST" autocomplete="off">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tr>
                    <td>
                        <label>
                            <input class="form-control" name='name' placeholder="Name" autocomplete="off"
                                   value="{{ user.name }}">
                        </label>
                    </td>
                    <td>
                        <input class="form-control" type="password" name='password' placeholder="password"
                               autocomplete="off" value="{{ user.password }}">
                    </td>
                    <td><select class="form-select" name="roleId">
                            {% for role in roles %}
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success"  formaction="{{ url_for('users.store',{'id':user.id})}}">Create</button>
                        <input type="hidden" name="_METHOD" value="POST">
                    </td>

                </tr>
            </table>
        </form>
        <a class="btn btn-primary" href="{{ url_for('users.index') }}">Back</a>

{% endblock %}