{% extends 'layout/app.twig' %}
{% block title %} Edit User{% endblock %}

{% block body %}
        <H1>Edit User</H1>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Options</th>
            </tr>
            </thead>
            <tr>
                <form method="POST" autocomplete="off">
                    <td><input class="form-control" name='name' placeholder="Name" autocomplete="off" value="{{ user.name }}"></td>
                    <td><input class="form-control" type="password" name='password' placeholder="password" autocomplete="off" value="{{ user.password }}"></td>
                    <td><button type="submit" class="btn btn-success"  formaction="{{ url_for('users.update',{'id':user.id})}}">Save</button>
                        <input type="hidden" name="_METHOD" value="PUT">
                    </td>
                </form>
            </tr>
        </table>
        <a class="btn btn-primary" href="{{ url_for('users.index') }}">Back</a>


{% endblock %}