{% extends 'layout/app.twig' %}
{% block title %} Users Index{% endblock %}

{% block body %}
        <H1>Users</H1>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>

                    <td><a class="text-decoration-none" href="{{ url_for('users.show',{'id':user.id}) }}">{{ user.name }}</a></td>
                    <td>{{ user.role.name }}</td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <a class="btn btn-primary" href="{{ url_for('users.edit',{'id':user.id}) }}">Edit</a>
                            </div>
                            <div class="col-2">
                                {% include 'inc/buttons/delete.twig'  with {'delete_url': url_for('users.delete', {'id': user.id}), 'delete_name' : user.name} %}
                            </div>

                       </div>


                    </td>
                </tr>
            {% endfor %}
        </table>
        <a class="btn btn-secondary" href="{{ url_for('users.create') }}">New</a>
{% endblock %}