{% extends 'layout/app.twig' %}
{% block title %} Example index{% endblock %}

{% block body %}
        <H1>User {{ user.name }}</H1>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Password</th>
                <th>Role</th>
                <th>Updated</th>
                <th>Created</th>
                {% if isAuth() %}
                <th>Options</th>

                {% endif %}
            </tr>
            </thead>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ isAuth() ? user.password : '***' }}</td>
                <td>{{ user.role.name }}</td>
                <td>{{ user.updated_at }}</td>
                <td>{{ user.created_at }}</td>
                {% if isAuth() %}
                <td>
                    <form action="{{ url_for('users.delete',{'id':user.id}) }}" method="POST">
                        <a class="btn btn-primary" href="{{ url_for('users.edit',{'id':user.id}) }}">Edit</a>
                        <button type="submit" class="btn btn-danger">X</button>
                        <input type="hidden" name="_METHOD" value="DELETE">
                    </form>
                </td>
                {% endif %}
            </tr>

        </table>
        <a class="btn btn-secondary" href="{{ url_for('users.index') }}">Back</a>

{% endblock %}