<div class="container-fluid my-4">
    <div class="card bg-light text-center">
        <div class="card-body">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    Soon
                    <div class="row">
                        <div class="col">
                            More Netzwolke Services
                        </div>

                    </div>
                </div>
                {# impressum #}
                <div class="col">
                {% if false %}

                    <div class="row  fs-4 text-capitalize">
                       Impressum
                    </div>
                    <div class="row">
                        Daniel Hauck
                    </div>
                    <div class="row">
                        Hofstattstr. 8
                    </div>
                    <div class="row">
                        97209 Veitshöchheim
                    </div>
                {% endif %}

                </div>
            </div>
        </div>
        <div class="card-footer text-muted fs-6">
            <div class="row">
                <div class="col text-start">
                    Build: {{ getVersion() }}
                </div>
                <div class="col text-center">
                    Environment : {{ getEnv() }}
                </div>
                <div class="col text-end">
                    © Netzwolke
                </div>
            </div>

        </div>
    </div>
</div>
