
    {% if hasMessage('Error') %}

        {% for error in getMessage('Error') %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">

                {{ error }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

        {% endfor %}

    {% endif %}

    {% if hasMessage('Warning') %}

        {% for warning in getMessage('Warning') %}

            <div class="alert alert-warning alert-dismissible fade show">

                {{ warning }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

        {% endfor %}

    {% endif %}

    {% if hasMessage('Success') %}

        {% for success in getMessage('Success') %}

            <div class="alert alert-success alert-dismissible fade show">

                {{ success }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>

        {% endfor %}

    {% endif %}

