<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <!--suppress SpellCheckingInspection -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#links"
                aria-controls="links" aria-expanded="false" aria-label="Toggle navigation">
            <!--suppress SpellCheckingInspection -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="links">
            <a class="navbar-brand" href="{{ url_for('home') }}">Manager</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a class="nav-link {{ url_for('roles.index') in current_url() ? 'active' }}" href="{{ url_for('roles.index') }}">Roles</a>
                    </li>
                    <li>
                        <a class="nav-link {{ url_for('users.index') in current_url() ? 'active' }}" href="{{ url_for('users.index') }}">Users</a>
                    </li>
                    <li>
                        <a class="nav-link {{ url_for('appliances.index') in current_url() ? 'active' }}" href="{{ url_for('appliances.index') }}">Appliances</a>
                    </li>
                    <li>
                        <a class="nav-link {{ url_for('groups.index') in current_url() ? 'active' }}" href="{{ url_for('groups.index') }}">Groups</a>
                    </li>
                </ul>
            {% if isAuth() %}
                <form class="d-flex" method="POST" action="{{ url_for('auth.logout') }}">
                    <a class="nav-link disabled" id="time">{{ (getTimeout() / 60) }}:00</a>
                    <span class="navbar-brand"><a href="{{ url_for('auth.dashboard') }}">{{ getUserName() }}</a></span>
                    <button class="btn btn-outline-danger me-2" type="submit">Logout</button>
                </form>

                <script>
                    function startTimer(duration, display) {
                        duration = duration -1;
                        var timer = duration, minutes, seconds;
                        setInterval(function () {
                            minutes = parseInt(timer / 60, 10);
                            seconds = parseInt(timer % 60, 10);

                            minutes = minutes < 10 ? "0" + minutes : minutes;
                            seconds = seconds < 10 ? "0" + seconds : seconds;

                            display.textContent = minutes + ":" + seconds;

                            if (--timer < 0) {
                                location.reload();
                            }
                        }, 1000);
                    }

                    window.onload = function () {
                        var fiveMinutes = {{ getTimeout() }}
                            display = document.querySelector('#time');
                        startTimer(fiveMinutes, display);
                    };
                </script>
            {% endif %}
        </div>
    </div>
</nav>


