{% extends 'layout/app.twig' %}
{% block title %}Dashboard {% endblock %}
{% block body %}
    <form action="{{ url_for('dash.database.execute') }}" method="post">
        <table class="table table-responsive-sm table-hover text-center">
            <thead>
                <tr>
                    <th scope="row">Table</th>
                    <th>Status</th>
                    <th>Drop</th>
                    <th>Migrate</th>
                    <th>Seed</th>
                </tr>
            </thead>
            <tbody>
                {% for table, migration in migrations %}
                    {% set exists = manager.exists(table) %}
                    {% set style =  exists ? '' : 'bg-danger' %}
                    <tr>
                        <td>{{ table }}</td>
                        <td class="{{ exists ? 'text-success' : 'text-danger' }}">{{ exists ? 'Exists' : 'Not Found' }}</td>
                        <td ><label>
                                <input type="checkbox" class="{{ style }}  form-check-input" value="{{ table }}" name="drops[]">
                            </label></td>
                        <td ><label>
                                <input type="checkbox" class="form-check-input" value="{{ table }}" name="migrations[]">
                            </label></td>
                        <td><label>
                                <input type="checkbox" class="form-check-input {{ seeds[table] ? '' : 'bg-danger' }}" value="{{ table }}" name="seeds[]" {{ seeds[table] ? '' : 'disabled' }}>
                            </label></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="submit" class="btn btn-outline-danger">Run</button>
        </div>
    </form>

{% endblock %}